@charset "UTF-8";

/* CSS Document */



body{
    height: 1000px;
background-image: linear-gradient(180deg, #a0e5e6 25%, #ffffff 25%, #ffffff 50%, #a0e5e6 50%, #a0e5e6 75%, #ffffff 75%, #ffffff 100%);
background-size: 400.00px 400.00px;
    padding:20px;


}
.title{
    font-family: 'Grand Hotel', cursive;
    font-size: 10em;
    text-align: center;
    
}
.caption{
    font-family: 'Encode Sans', sans-serif;
    font-size: 2em;
     text-align: center;

}
.button {
    margin: auto;
    text-align: center;
    background-color: #E6A1A0;
    padding:15px;
    height: 50px;
    width:400px;
    color: white;
    border-style: solid;
    border-color: white;

}
.button:link { 
  text-decoration: none;
  color: white;
}
.button:visited { 
    background-color:color: #A0E5E6;
  text-decoration: none;
  color: white;
}
.button:hover { 
  background-color:color: #A0E5E6;
  text-decoration: none;
  color: white;
    
}
img{
    margin: auto;
    width:50%;
}

.wrapper{
    background-color: white;
    border-radius: 25px;
    width: 1380px;
    margin: auto;
}

.left {
    font-size: 5em;
     margin: auto;
    color: #E6A1A0;
}
.right {
    font-size: 5em;
     margin: auto;
    color: #E6A1A0;

}
.left:link{
     color: #E6A1A0;
     text-decoration: none;
}
.left:hover{
    color: #A0E5E6;
     text-decoration: none;
}
.right:link{
     color: #E6A1A0;
     text-decoration: none;
}
.right:hover{
    color: #A0E5E6;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-16 20:33:21
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s 0.4s both;
	        animation: jello-horizontal 0.9s 0.4s both;
}
.jello-horizontal:hover {
	-webkit-animation: jello-horizontal 0.9s 0.4s both;
	        animation: jello-horizontal 0.9s 0.4s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-16 21:39:6
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

